body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin: 10px;
}
button {
  border: none;
  font-size: 1rem;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  background: tomato;
  color: navy;
}
button:last-child {
  background: navy;
  color: tomato;
}
h3 {
  font-style: italic;
  visibility: hidden;
}
