* {
  margin: 0;
}
body {
  /* 플렉스 박스 참고  */
  background: cornflowerblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h2,
h3,
p {
  margin-bottom: 10px;
}
h1 {
  font-size: ;
}
h2 {
  font-size: ;
}
h3 {
  font-size: ;
}
