/*font-family*/
#ff1 {
  font-family: Arial, Helvetica, sans-serif;
}
#ff2 {
  font-family: "궁서", serif;
}
#ff3 {
  font-family: "돋움", sans-serif;
}
#ff4 {
  font-family: "Cherry Bomb One", system-ui;
}

/*font-weight*/
#fw1 {
  font-weight: bold;
}
#fw2 {
  font-weight: 900;
}
#fw3 {
  font-weight: 100;
}
/*font-size*/
#fs1 {
  font-size: 32px;
}
/*부모크기 30px->30*2=60px*/
#fs2 {
  font-size: 2em;
}
/*html기본크기 16px *2=32px*/
#fs3 {
  font-size: 2rem;
}
/*부모크기30px*2=60px*/
#fs4 {
  font-size: 200%;
}
/*font-style*/
#fs5 {
  font-style: italic;
}
#fs6 {
  font-style: oblique;
}
/*font-variant*/
#fv {
  font-variant: small-caps;
}
/*font*/
#font1 {
  /*font-style 
    font-variant 
    font-weight
     font-szie/line-height 
     font-family*/
  font: italic small-caps bold 32px/2 "Cherry Bomb One", system-ui;
}
#font2 {
  /*
font-size: 2rem;
font-family: "Cherry Bomb One", system-ui;*/

  font: 2rem "Cherry Bomb One", system-ui;
}
/*color*/
#c-name {
  /*색상명: 브라우저가 인식하는 기본 색상명(web safe color, 216가지)*/
  color: red;
}
#c-16 {
  /*#RRGGBB*/
  color: #882a2a;
}
#c-rgb {
  /* (0~255) Red, Green, Blue, Alpha(투명도,0~1)*/
  color: rgb(68, 223, 78);
  color: rgb(0, 0, 0, 0.4);
}
#c-hsl {
  /* 색상환(H, 0~360) 채도(S,0~100%) 밝기(L0~100%) 투명도(0~1)*/
  color: hsl(200, 50%, 50%, 0.2);
}
/*text-decoration*/
#td1 {
  text-decoration: underline;
}
#td2 {
  text-decoration: overline;
}
#td3 {
  text-decoration: line-through;
}
#td4 {
  text-decoration: none;
}
#tt1 {
  text-transform: uppercase;
}
#tt2 {
  text-transform: lowercase;
}
#tt3 {
  text-transform: capitalize;
}
/*test-shadow*/
.shadow {
  font-size: 50px;
  font-weight: 900;
}
#ts1 {
  color: orangered;
  /* x축 y축 blur(흐림) color*/
  text-shadow: 5px 5px 5px yellow;
}
#ts2 {
  color: white;
  text-shadow: 0px 0px 10px yellowgreen;
}
#ts3 {
  color: black;
  text-shadow: 0px 0px 4px gray, 0px -5px 4px yellow, 0px -10px 8px orange,
    0px -15px 15px orangered, 0px -22px 20px red;
}
/*white-space*/
#whs {
  white-space: pre-wrap;
}
/*letter-spacing / word-spacing*/
#ls {
  letter-spacing: 10px;
}
#ws {
  word-spacing: 20px;
}
/*text-align*/
#ta1 {
  text-align: left;
}
#ta2 {
  text-align: right;
}
#ta3 {
  text-align: center;
}
#ta4 {
  text-align: justify;
}
/*text-indent*/
#ti {
  text-indent: 10px;
}
/*line-height*/
#lh {
  line-height: 2;
}
/*text-overflow*/
#to {
  background: beige;
  width: 500px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*list-style*/
ul.circle {
  list-style: circle;
}
ul.square {
  list-style: square;
}
ul.none {
  list-style: none;
}
