/*wight, height*/
/*px:고정 크기
/ % 부모 기준 비율
/ vw, vh 뷰포트 너비, 높이 기준 비율*/
#fixed-size {
  width: 300px;
  height: 150px;
  background-color: lightblue;
}
#variavle-size {
  width: 80%;
  height: 100vh;
  background-color: lightgreen;
}
/*padding, margin*/
.space {
  background: lightyellow;
  border: 1px solid;
  margin-bottom: 10px;
}
#padding1 {
  padding: 20px;
}
#padding2 {
  /* padding - 순서 top - rignt- botoom - left 순 (시계 방향) 
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 20px;
  padding-bottom: 40px;
  */
  padding: 30px 20px 40px 10px;
  /*top right/left bottom*/
  padding: 30px 20px 40px;
  /*top/bottom, right/left*/
  padding: 30xp 20px;
}
#margin1 {
  margin: 20px;
}
#margin2 {
  /*최대값을 지정해 값이 변하지 않는다.*/
  margin: 5px 15px 10px 30px;
}
.collapse-box {
  background-color: lightcoral;
  padding: 10px;
  border: 1px solid#444;
}
#box1 {
  margin-bottom: 50px;
}
#box2 {
  margin-bottom: 30px;
}
.center-box {
  /*height값과 line-height값이 같으면 가운데로 정렬*/
  width: 200px;
  height: 100px;
  background: lightseagreen;
  color: white;
  text-align: center;
  line-height: 100px;
  margin: auto;
}
.border {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #eee;
  display: inline-block;
}
#border1 {
  /*solid:실선*/
  border: 3px solid red;
}
#border2 {
  /*dashed: 점선*/
  border: 5px dashed green;
}
#border3 {
  /*dotted: 도트*/
  border: 2px dotted blue;
}
.radius-box {
  width: 120px;
  height: 120px;
  background: plum;
  color: white;
  text-align: center;
  line-height: 120px;
  margin-bottom: 10px;
}
.radius1 {
  border-radius: 10px;
}
.radius2 {
  border-radius: 50%;
}
