* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: indigo;
  background: linear-gradient(purple, pink);
  height: 100vh;
  padding: 20px;
}
.profile-card {
  border: 3px solid white;
  border-radius: 25px;
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  color: white;
}
.profile-image {
  width: 200px;
  height: 200px;
  margin: auto;
  border-radius: 50%;
  background-image: url(assets/hui.png);
  background-size: cover;
}
.profile-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
.profile-card a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border: 3px solid white;
  margin: 15px;
  padding: 10px;
}
.profile-card a:hover {
  background: white;
  color: black;
}
