:root {
  --main-width: 300px;
}
header {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  width: var(--main-width);
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url(assets/background.jpg);
  background-blend-mode: color;
  background-position: center;
  background-size: cover;
  align-items: center;
}
header h1 {
  font-size: 4rem;
  padding-top: 20px;
  padding-bottom: 5px;
  padding-inline: 10px;
  border-bottom: 3px solid white;
}
header nav {
  display: flex;
  flex-direction: column;
  padding-bottom: 150px;
  gap: 10px;
}
header nav a {
  text-decoration: underline;
}
main {
  padding: 10px;
  padding-left: calc(var(--main-width) + 10px);
  text-align: center;
}
main img {
  width: 100%;
  max-width: 400px;
  margin-top: 15px;
  margin-bottom: 10px;
}

main h2 {
  font-size: 3rem;
  font-weight: bold;
  text-align: left;
}
